@{
    ViewData["Title"] = "Anasayfa";
}

<img class="d-block mx-auto mb-4" src="~/img/csharp.png" alt="" width="300" height="150">

<h1 class="display-5 fw-bold text-body-emphasis">Management App</h1>
<p class="lead mb-4">First and foremost, I would like to express my gratitude for downloading the application to your local machine. Throughout the project development process, I adhered to layered architecture and utilized technologies such as Entity Framework, aligning with Code First - N-Tier architectures. By coding according to SOLID principles, I aimed to create a more sustainable and flexible structure. If you consider revising the project for further enhancement and robustness, please feel free to contact me. You can access the management pages of respective classes by clicking the buttons below.</p>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a href="/Customer/Index" class="btn btn-warning btn-lg px-4 gap-3">Customer</a>
    <a href="/Employee/Index" class="btn btn-warning btn-lg px-4 gap-3">Employee</a>
</div>
